@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////

.title {
  color: $white;
  text-decoration: none;
  font-size: 30px;
  text-shadow: -1px 1px $leonardo-blue, 
  -2px 2px $donatello-purple,
  -4px 4px $raphael-red;
}

.title:hover {
  color: $turtle-green;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: $white;
    font-family: 'Press Start 2P';
    top: 0;
    overflow: hidden;
    z-index: 0;

}

.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.wrapper input{

  height: 50px;
  width: 250px;
  margin: 10px;
}
.wrapper input[type='submit']{
  width: 100px;
}
.wrapper input:focus{
    outline:0;
}
.wrapper input:active{
    outline:0;
}

.btn-link{
    width: 200px;
}

.splash-container{
  background-color: $black;
  height: 100%;

}
