//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////

.robot-row{
    height: 100%;
    width: 900px;

    
}

.robot-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:100%;
 
    
}
.robot-row form{
    
}

.robot{
    height: 500px;
    width: 230px;
    opacity: .7;
    border: 1px $white solid;
    border-radius: 5px;
    transition: .2s;
    transition-timing-function: ease-in-out;

}
.robot:hover{
    opacity: 1;
    cursor: pointer;

}

.robot-img{
   height: 180px;
    width: 230px;
    object-fit: fill;
}
.robot-stats{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;

    width: 100%;
    background-color: $black;
    
}
.robot-stats ul{
    
    list-style: none;
    margin:0;
    padding-left: 10px;

}

.robot-stats li{
    padding-top: 10px;
    list-style: none;

}

.robot-form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}