//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////

.game-container{
    width: 100%;
    height: 100%;
    display: flex;
    animation: fadein 1s;

    background:$white;
}

.map-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $black;
    color: $white;
}
.sidebar-planets{
    width: 300px;
    height: 100%;
    background-color: $donatello-purple;
}
.sidebar-inventory{
    width: 300px;
    height: 100%;
    background-color: $donatello-purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    font-size: 12px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding-top: 10px;
        }
    }
    h2{
        text-align: center;
    }
}

@keyframes fadein{
    from{opacity: 0;}
    to{opacity:1;}
}

.play-button {
    text-decoration: none;
    font-family: 'Press Start 2P';
    color: $white;
    background: transparent;
    //background-color: $turtle-green;
    overflow: hidden;
    border: 0;
    height: 15px;
    clip-path: polygon(
        0 10%,
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 10%
    )
}

.play-button:hover{
    //background-color: $white;
    color: $leonardo-blue;
    cursor: pointer;
}
