@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////


.navWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: auto;
    text-deocration: none;
    /* background-color: white; */
}
.NavBar a{
    text-decoration: none;
}

.NavBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 50px;
    color: $white;   
    border: 1px solid ;
    border-radius: 3px $leonardo-blue;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    background-color: $leonardo-blue;
    transition: .25s;
    transition-timing-function: ease-in;
}

.NavBar button:hover{
    background-color: $white;
    cursor: pointer;
    color: $leonardo-blue;
}

.Links1 {
    width: 100px;
    display: flex;
    background-color: $leonardo-blue;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.btn-link{
    
}
.navbar-loggedin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    z-index: 1;
    font-family: 'Press Start 2P';
    font-size: 30px;
}

.wrapper{
    height: 100%;
    width: 100%;
}
.title{
    padding: 20px;
}


.NavBar a{
    padding: 10px;
    color: $white;
    
}
.NavBar a:hover{
    color: $donatello-purple;
    cursor: pointer;
}

.logout-header {
    color: $donatello-purple;
    font-family: 'Press Start 2P';
}



