//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////

.game-store-wrapper{
    width: 700px;
    height: 500px;
    background-color: $raphael-red;
    
}

.rich-img{
    width: 100px;
    height: 100px;
    padding:10px;
}

.rich-greeting{
    display: flex;
    width: 100%;
    height: 100px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}
.store-objects{
    ul{
        list-style: none;
        margin: 0;
        padding: 10px;
    }
    
}

.item-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}