//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

.game-store-wrapper{
    width: 900px;
    height: 600px;
    background-color: $raphael-red;
    display: flex;
    justify-content: space-between;
    
}

.rich-img{
    width: 100px;
    height: 100px;
    padding:10px;
}

.rich-greeting{
    display: flex;
    width: 100%;
    height: 100px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}
.store-objects{
    ul{
        list-style: none;
        margin: 0;
        padding: 10px;
    }
    
}

.item-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.store-container {
    width: 700px;
}
.robot-store{
    width: 300px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    font-size: 12px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding-top: 10px;
        }
    }
    h2{
        text-align: center;
    }
    a {
        text-decoration: none;
        margin-top: 10px;
        background-color: white;
        color: black;
        padding:2px;
        width: fit-content;
        
    }
    a:hover{
        color: white;
        background-color: black;
    }
}

.Rich-Message {
    
    margin-top: 40px;
    font-weight: bolder;
    margin-left: 20px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.store-btn{
    margin-top: 20px;
    color: white;
    font-family: inherit;
    font-size: inherit;
    // padding: inherit;
    // margin: inherit;
    border: none;
    background: none;
    outline: none;
}
.store-btn:hover{
    color: $donatello-purple;
    
}

