// import "slick-carousel/slick/slick.css";
// import "slick-carousel/slick/slick-theme.css";

//updated color pallette
$leonardo-blue: rgb(60, 144, 247);
$michelangelo-orange: rgb(242, 183, 65);
$donatello-purple: rgb(235, 91, 247);
$raphael-red: rgb(237, 92, 42);
$turtle-green: rgb(136, 236, 72);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
////////////////////////

.story-container{
    width: 600px;
    height: 400px;
    background-color: $donatello-purple;
    padding: 50px;
    overflow: hidden;
    clip-path: polygon(
        0 10%,
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 10%
    )

}

.RosstheBoss:hover {
    font-size: 20px;
    color: #79C157;
    
}
.Rossimage {
    display: flex;
    margin-left: 50px;
    width: 80%;
    height: 80%;
}

.worldimage {
    display: flex;
    margin-left: 130px;
    width: 50%;
    height: 50%;
}

.spaceimage {
    display: flex;
    margin-left: 130px;
    width: 50%;
    height: 50%;
}

.mechimage {
   display: flex;
    margin-left: 160px;
    width: 30%;
    height: 20%; 
}

.RosstheBoss {
    display: flex;
    justify-content: center;
}

.Holtercorp {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.Holtercorp-subtext {
    display: flex;  
    justify-content: center;
}
.story-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.story-text {
    
    color: $white;
}

.robot-selector-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.robot-link {
    margin-top: 25px;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bolder;
    color: $white;
    text-decoration: none;
}

.robot-link:hover {
    color: $michelangelo-orange;
}

.slider {
    color: $white;
}
