@import url('https://fonts.google.com/specimen/Russo+One#standard-styles');

body {
  margin: 0;
  padding: 0;
  font-family: Russo One;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



